body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#1e88e5;
    color:white;
    padding:15px;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:15px;
}

main{
    padding:20px;
}