<div class="sidebar">

    <div class="logo">
        <i class="fa-solid fa-calendar-check"></i>
        <h2>EventRent</h2>
    </div>

    <ul>

        <li>
            <a href="{% url 'dashboard' %}">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="{% url 'kategori' %}">
                <i class="fa-solid fa-layer-group"></i>
                Kategori
            </a>
        </li>

        <li>
            <a href="{% url 'barang' %}">
                <i class="fa-solid fa-box-open"></i>
                Barang
            </a>
        </li>

        <li>
            <a href="{% url 'penyewaan' %}">
                <i class="fa-solid fa-cart-shopping"></i>
                Penyewaan
            </a>
        </li>

        <li>
            <a href="{% url 'laporan' %}">
                <i class="fa-solid fa-file-lines"></i>
                Laporan
            </a>
        </li>

    </ul>

</div>