<div class="sidebar">

    <div class="logo">
        <i class="fa-solid fa-calendar-check"></i>
        <h2>EventRent</h2>
    </div>

    <ul>

        <li>
            <a href="{% url 'dashboard_dosen' %}">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="{% url 'barang' %}">
                <i class="fa-solid fa-box-open"></i>
                Barang
            </a>
        </li>

        <li>
            <a href="{% url 'penyewaan' %}">
                <i class="fa-solid fa-cart-shopping"></i>
                Penyewaan
            </a>
        </li>

        <li>
            <a href="{% url 'form_penyewaan' %}">
                <i class="fa-solid fa-file-circle-plus"></i>
                Ajukan Penyewaan
            </a>
        </li>

        <li>
            <a href="{% url 'laporan' %}">
                <i class="fa-solid fa-file-lines"></i>
                Riwayat Penyewaan
            </a>
        </li>

    </ul>

</div>